{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">{{corkboard.title}} of {{ corkboard.email}}</h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading"> {{corkboard.title}}</h2>
            {% if current_user.email== corkboard.email %}
                <a class="nav-item nav-link" href="{{ url_for('new_pushpin') }}">Add Pushpin </a>
            {% endif %}
          </div>
        </div>

        <div class="content-section">
            <h4  class="border-bottom recent-item mb-5"> <a href="#"> {{corkboard.title}} </a>

            </h4>
            <p class="text-secondary"> Updated by {{corkboard.name}} on {{corkboard.last_update}}</p>

        </div>

        <div class="content-section">
            {% for pushpin in pushpins %}
            <div class="content-section">
                <h4 class="border-bottom recent-item"> <a href="#">{{pushpin.image_URL}}</a>
            </h4>
            </div>
        {% endfor %}

        </div>

    </div>
{% endblock content %}
