{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">
        {{ owner.name}}
        {% if current_user.email!= corkboard.email %}
        <a  href="{{ url_for('_follow',corkboard_id1= corkboard.corkBoardID) }}">
            <button style="float: right" type="button" class="btn btn-outline-info">follow</button>
        </a>
        {% endif %}
    </h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading"> {{corkboard.title}}
                <span style="float: right" >
                    <font color = "blue"><strong>{{corkboard.cat_name}}</strong></font>
                </span>
            </h2>
          </div>
        </div>
        <div>
                {% if current_user.email== corkboard.email %}
                <a class="nav-item nav-link" href="{{ url_for('new_pushpin') }}">
                    <button style="float: right" class= "btn btn-outline-info">
                        Add Pushpin
                    </button>
                </a>
                {% endif %}
        </div>
        {% if corkboard.last_update==None %}
            <p class="text-secondary"> Updated by {{owner.name}} </p>

        {% else %}
            <p class="text-secondary"> Updated by {{owner.name}} on {{corkboard.last_update}}</p>
        {% endif %}

        <div class="row">
        {% for pushpin in pushpins %}
        <!--     <h4 class="border-bottom recent-item"> <a href="{{ url_for('pushpins',pushpin_id= pushpin.pushPinID) }}">{{pushpin.image_URL}}</a> -->
            <h4 class="recent-item">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ url_for('pushpins',pushpin_id= pushpin.pushPinID) }}">
                            <img class="img-responsive" src="{{  pushpin.image_URL }}"  width="300">
                        </a>
                    </div>
                </div>
            </h4>
        {% endfor %}
    </div>

        <div class="media">
          <div class="media-body">
                 <h6> This CorkBoard has {{count_watch}} watchers
                        {% if current_user.email!= corkboard.email and isPrivate==False %}
                            <a  href="{{ url_for('_watch',corkboard_id1= corkboard.corkBoardID) }}">
                                <button style="float: right" type="button" class="btn btn-outline-info">watch</button>
                            </a>
                        {% endif %}
                </h6>

          </div>
        </div>

    </div>
{% endblock content %}
