{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">CorkBoard Statistics
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">CorkBoard Statistics> </h2>
          </div>
        </div>
    </div>
    <div class="content-section">
        <h6>
        <table class="table table-striped">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Public CorkBoards</th>
                    <th>Public PushPins</th>
                    <th>Private CorkBoards</th>
                    <th>Private PushPins</th>
                  </tr>
                </thead>

                 {% for corkboard_statistic in corkboard_statistics %}
                   <TR>
                       <tr><TD>{{corkboard_statistic[0]}}</TD>
                       <TD>{{corkboard_statistic[1]}}</TD>
                       <TD>{{corkboard_statistic[2]}}</TD>
                       <TD>{{corkboard_statistic[3]}}</TD>
                       <TD>{{corkboard_statistic[4]}}</TD></tr>
                    </TR>

        {% endfor %}

        </table>
        </h6>
    </div>

{% endblock content %}
