{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">CorkBoard Statistics
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">CorkBoard Statistics
          </div>
        </div>

        {% for statistics in corkboard_statistics %}
        <div class="content-section">

            <h4  class="border-bottom statistics-item mb-1"> 

        </div>
        {% endfor %}
    </div>

{% endblock content %}
