{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">{{corkboard.title}} of {{ owner.name}}</h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading"> {{corkboard.title}} <a  href="{{ url_for('_follow',corkboard_id1= corkboard.corkBoardID) }}"> <button type="button" class="btn btn-primary">follow</button> </a> <h6 style="float: right">Category:   <strong>{{corkboard.cat_name}}</strong></h6></h2>
            {% if current_user.email== corkboard.email %}
                <a class="nav-item nav-link" href="{{ url_for('new_pushpin') }}">Add Pushpin </a>
            {% endif %}
          </div>
        </div>

        <div class="content-section">
            <h4  class="border-bottom recent-item mb-5"> <a href="#"> {{corkboard.title}} </a>

            </h4>
            <p class="text-secondary"> Updated by {{corkboard.name}} on {{corkboard.last_update}}</p>

        </div>

        <div class="content-section">
            {% for pushpin in pushpins %}
            <div class="content-section">
            <!--     <h4 class="border-bottom recent-item"> <a href="{{ url_for('pushpins',pushpin_id= pushpin.pushPinID) }}">{{pushpin.image_URL}}</a> -->
                <h4 class="border-bottom recent-item"> <a href="{{ url_for('pushpins',pushpin_id= pushpin.pushPinID) }}"> <img class="img-thumbnail" src="{{ url_for('static', filename='profile_pics/' + pushpin.image_URL) }}"></a>


            </h4>
            </div>
        {% endfor %}

        </div>
        <div class="media">
          <div class="media-body">
                 <h6> This CorkBoard has {{count_watch}} watchers
                        {% if current_user.email!= corkboard.email and isPrivate==False %}
                            <a  href="{{ url_for('_watch',corkboard_id1= corkboard.corkBoardID) }}"> <button type="button" class="btn btn-primary">watch</button> </a> </h6>
                        {% endif %}


          </div>
        </div>

    </div>
{% endblock content %}
