{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">Home Page for {{ current_user.name }}</h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">Recent CorkBoad Updates</h2>
          </div>
        </div>

        {% for recent in recent_info %}
        <div class="content-section">
            {% if recent.password != None %}

            <h4  class="border-bottom recent-item mb-1"> <a href="{{ url_for('privatelogin', corkboard_id=recent.corkBoardID) }}"> 
                {{recent.title}}  </a> <font color="red"> (Private) </font> 
            </h4>

            {% else %}
            <h4  class="border-bottom recent-item mb-1"> <a href="{{ url_for('corkboards', corkboard_id=recent.corkBoardID) }}"> {{recent.title}} </a> </h4>
            {% endif %}
            <p class="text-secondary"> Updated by <strong> {{ recent.name}} </strong>on {{recent.last_update}}</p>

        </div>
        {% endfor %}
    </div>

    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">My CorkBoad Updates {{my_corkboard}}</h2>
          </div>
        </div>

        {% for my_corkboard in my_info %}
            <div class="content-section">
                {% if my_corkboard.password != None %}
                    <h4 class="border-bottom recent-item">
                         <a href="{{ url_for('privatelogin', corkboard_id=my_corkboard.corkBoardID)}}">
                             {{my_corkboard.title}}
                         </a>
                         <font color="red"> (Private) </font> 
                         <font color="black"></font> 
                     </h4>

                {% else%}
                    <h4 class="border-bottom recent-item"> 
                        <a href="{{ url_for('corkboards', corkboard_id=my_corkboard.corkBoardID) }}">
                            {{my_corkboard.title}}
                        </a> 
                    </h4>
                {% endif %}
                with {{my_corkboard[1]}} PushPins
            </h4>
            </div>
        {% endfor %}

    </div>
{% endblock content %}
