{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">Popular Tags</h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">Popular Tags</h2>
          </div>
        </div>
    </div>

     <div class="content-section">
        <div class="content-section">
        <h6>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th><strong><u>Tag</u></strong></th>
                        <th><strong>PushPins</strong></th>
                        <th><strong>Unique CorkBoards</strong></th>
                      </tr>
                    </thead>

                    {% for tag in tags %}
                       <TR>
                           <tr><TD><a href="{{ url_for('search_result', search_item=tag.tag) }}"><strong><u>{{tag.tag}}</u></strong></a></TD>
                           <TD>{{tag[1]}}/TD>
                           <TD>{{tag[2]}}</TD></tr>
                        </TR>
                    {% endfor %}
            </table>
        </h6>
        </div>
    </div>
{% endblock content %}
