{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">Popular Sites
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">Popular Sites
          </div>
        </div>
    </div>
    <div class="content-section">
        <h6>
            <strong><u>Site</u></strong>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <u><strong>PushPins</strong></u> 
        </h6>
        {% for popular_site in popular_sites %}
            <h6>
            <a><strong><u>{{popular_site[0]}}</u></strong></a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp   {{popular_site[1]}}
        {% endfor %}
    </div>

{% endblock content %}
