{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">Popular Tags</h1>
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">Popular Tags</h2>
          </div>
        </div>
    </div>
    
    <div class="content-section">
        <p>
            <strong><u>Tag</u></strong>
            <u><strong>PushPins</strong></u>
            <u><strong>Unique CorkBoards</strong></u> 
        </p>
        {% for tag in tags %}
            <br>
            <a href="{{ url_for('search_result', search_item=tag.tag) }}"><strong><u>{{tag.tag}}</u></strong></a>
                &nbsp&nbsp&nbsp&nbsp&nbsp   {{tag[1]}}   &nbsp&nbsp&nbsp&nbsp&nbsp  {{tag[2]}}
        {% endfor %}
    </div>
{% endblock content %}