{% extends "layout.html" %}
{% block content %}
    <h1 class="border-bottom mb-5">Popular Sites
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="homepage-heading">Popular Sites
          </div>
        </div>

        {% for sites in popular_sites %}
        <div class="content-section">

            <h4  class="border-bottom sites-item mb-1"> 

        </div>
        {% endfor %}
    </div>

{% endblock content %}
