{% extends "layout.html" %}
{% block content %}

    <div class="content-section">


        <div class="content-section">

            <h2 class="homepage-heading"> {{owner.name}}
                {% if owner.email != current_user.email %}
                    <a  href="{{ url_for('_follow',corkboard_id1= corkboard.corkBoardID) }}">
                        <button type="button" class="btn btn-outline-info">follow</button>
                    </a>
                {% endif %}
            </h2>
            </h4>
            <p class="text-secondary"> Pinned {{pushpin.pinned_time}} on<a href="{{ url_for('corkboards', corkboard_id=corkboard.corkBoardID) }}"> {{corkboard.title}} </a> </p>

        </div>

        <div class="content-section">
            <p style="float: right"><strong> from {{current_site}}</strong></p>
            <br>
            <br>
            <a href="{{  pushpin.image_URL }}">
            <img class="img-fluid" src="{{  pushpin.image_URL }}" >

            </a>
            <p class="content">
                {{pushpin.description}}
            </p>

             <p> Tags:
               {% for tag in tags %}
               <strong> {{tag.tag }} </strong>
                {%endfor %}
             </p>

        </div>

        <div class="content-section">
             <h6> <i class="far fa-thumbs-up"></i>
<!--                 {% for l in like %}
                 <strong>{{ l.name }} &nbsp </strong>
                {% endfor %}
                 -->
                {% if sss!='' %}
                    <strong>{{ sss }} &nbsp </strong>
                {% endif %}
                {% if owner.email != current_user.email %}
                    <a  href="{{ url_for('_like',pushpin_id1= pushpin.pushPinID) }}">
                        {% if is_like %}
                            <button style="float: right; line-height:1" type="button" class="btn btn-outline-info">Unlike!</button>
                        {% else %}
                            <button style="float: right; line-height:1" type="button" class="btn btn-outline-info">Like!</button>
                        {% endif %}
                    </a>
                {% endif %}
             </h6>
        </div>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        <div  style= "width: 70%; display: inline-block;">
                        {{ form.content(class="form-control form-control-lg") }}
                        </div>
                        <div  style="float: right; display: inline-block;">
                        {{ form.submit(class="btn btn-outline-info")  }}
                         </div>
                    {% endif %}
                </div>
                <div>
                    {% for c in comments %}
                        <p class="article-content"><strong>{{ c.name}}</strong>:  {{c.content }}</p>
                    {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
